*{
    margin: 0;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
.navbar{
    background-color: #62B1D4;
    color:black;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid white;
}
.navbar img{
    height: 4vmax;
    width: 5vmax;
    padding-left: 1vw;
}
.description{
    width: 35%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 4vw;
}
.description h2{
    text-decoration:underline;
}
.description button{
    background-color: black;
    color: #62B1D4;
    width: 6vw;
    height: 5vh;
    font-weight: 600;
    border: none;
    border-radius: 3vw;
}
.navbar i{
    display: none;
    font-weight: 600;
    font-size: 5vw;
}
.nav2{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: space-between;
}
.part1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part1 p{
    font-size: 1.23vmax;
}
.part1 button{
    margin-top: 2vmax;
    height: 4vmax;
    width: 7vmax;
    border-radius: 4vmax;
}
.part2{
    height: 100%;
    width: 50%;
}
.part1 span{
    font-size: 2.5vmax;
}
.part2 img{
    height: 100%;
    width: 100%;
}

@media (max-width:600px) {
    .navbar{
        height: 7.5vmax;
    }
    .navbar h1{
        margin-left:1.5vw ;
        font-size: 3.5vh;
    }
    .description h2{
        display: none;
    }
    .description button{
        display: none;
    }
    .navbar i{
        display: initial;
        margin-right: 1.5vw;
    }
    .nav2{
        height: 92.5vmax;
    }
    .nav2{
        flex-direction: column;
    }
    .part1{
        height: 50%;
        width: 100%;
    }
    .part2{
        height: 50%;
        width: 100%;
    }
    span{
        text-align: center!important;
    }
    .part1 p{
        text-align: center;
    }
    button{
        font-size: 1.2vmax;
    }

}
